@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: PingFang, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: var(--background);
  color: var(--foreground);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

@font-face {
  font-family: 'PingFang'; 
  src: url('../fonts/PingFangSC-Slender.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang'; 
  src: url('../fonts/PingFangSC-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang'; 
  src: url('../fonts/PingFangSC-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

.loading {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}